
/* wrapper to control site layout on small/large devices */
#wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  text-align:center;
  margin-top: 0;
}

header {
  background-color: red;
  font-size: 3em;
}

/* prototype nav bar */

nav {
  background-color: orange;
  font-size: 0.5em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0.5em 5%;
  padding: 0 5%;
}

nav ul li a {
  color: black;
}

/* make main have a border */
main {
  margin: 1em auto;
}

body {
    background-color: white;
}

/* apply slight padding to all elements in main */
main *, main * * {
  padding: 0.25em 2%;
  margin: 0.25em 1%;
}

/* force footer below other divs */
footer {
  border-top: 1px black solid;
  margin: 1em auto;
  padding-top: 5px;
  clear: both;
}

/* apply two column layout on wide screens */
@media screen and (min-width: 800px) {
  main content {
	float: left;
	width: 50%;
	border: 1px black solid;
	margin-bottom: 1em;
  }
  main aside {
	float: right;
	border: 1px black solid;
	width: 35%;
	margin-bottom: 1em;
  }
}

