<!DOCTYPE html>
<html>
<head>
	<link href="css/styles.css" rel="stylesheet">
    <meta name ="viewport" content="width=device initialscale=1">
  <meta charset = "utf8">
	<title>Meme stock Exchange</title>
</head>
<body>
  <div id = "wrapper">
	<header>Placeholder
	<nav>
		<ul>
		  <li><a href="#">Index</a></li>
		  <li><a href="../memes/harambe.html">Harambe</a></li>
		  <li><a href="#">Pepe</a></li>
			<li><a href="../auth/twitter">Login with Twitter</a></li>
		</ul>
	</nav>
	</header>
	<main>
	  <h1>Meme chart</h1>
	  <p>A graph will go here
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet metus a est hendrerit, eu cursus tellus convallis. Nam vel nisl id tellus faucibus pretium non bibendum enim. Nullam pulvinar hendrerit dui non feugiat. Sed in diam quam. Sed imperdiet volutpat massa, a facilisis est porta eu. Proin libero sapien, vestibulum eu sollicitudin quis, laoreet vitae elit. Maecenas ultricies nunc in varius convallis. Donec eget pulvinar urna. Fusce risus sapien, vestibulum id sollicitudin at, suscipit sed lacus. Morbi dapibus, ex non tempus lacinia, felis sem egestas ante, finibus convallis sapien nisl eu justo. Integer imperdiet lectus vel neque condimentum ullamcorper. Etiam et enim sem. Aenean vehicula accumsan nisl quis vestibulum. In sagittis fringilla purus, ac facilisis lacus blandit sed.
	</p>
	</main>
	<footer>
	  Sheffield hack
	</footer>
  </div>
  </body>
</html>		
